:root{
	/*Principal colors*/
	--neutral-color: #fdfdfd;
	--first-color: #1d1a73;
	--second-color: #022a3b;
	--third-color: #02202f;
	--four-color: #303030;
	--five-color: #02bd57;
	--six-color:#1076aa;
	/*Text colors*/
	--text-color: #8a8a8a;
	--second-text-color: #fdfdfd;
	/*Hovers*/
	--text-color-hover: var(--first-color);
	/*Colors default*/
	--dark: #2e2e2e;
	--white: #fff;
	--danger: #f0506e;
	--succes: #32d296;
	/*Fonts default*/
	--font-family: "Lato",sans-serif;
	--line-height: 1.6;
	--font-size: 16px;
	--font-size-xs: 10px;
	--font-size-sm: .8em;
	--font-size-m: calc(var(--font-size) + 2);
	--font-size-l: calc(var(--font-size-m) + 2);
	--font-size-md: 2.2em;
	--font-size-lg: 3.2em;
	--font-style-light: 100;
	--font-style-regular: normal;
	--font-style-semibold: 400;
	--font-style-bold: 700;
	/*Properties*/
	--z-back: -1;
	--z-normal: 1;
	--z-subnormal: 2;
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
	--padding-none: 0;
	--margin-none: 0;
	--padding: 1rem;
	--margin: 1rem;
	--padding-xs: calc(var(--padding) / 2);
	--margin-xs: calc(var(--margin) / 2);
	--padding-m: calc(var(--padding) * 2);
	--margin-m: calc(var(--margin) * 2);
	--padding-l: calc(var(--padding) * 3);
	--margin-l: calc(var(--margin) * 3);
	--padding-em: 1em;
	--margin-em: 1em;
	--padding-em-m: calc(var(--padding-em) * 2);
	--margin-em-m: calc(var(--margin-em) * 2);
	--padding-em-l: calc(var(--padding-em) * 3);
	--margin-em-l: calc(var(--margin-em) * 3);
	--border-radius: .15rem;
	--border-radius-m: calc(var(--border-radius) + 1.1);
	--border-radius-l: calc(var(--border-radius-m) + 1.1);
	--all-transition: all .5s ease;
	--hover-transition: all 150ms ease;
	--input-transition: .2s ease-in-out;
	--simple-box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: sans-serif;
}
.card-section{
	width:100%;
}
.card-image{
	margin: 0 auto;
	width: 200px;
}
.card-image img{
  width: 100%;
  height: auto;
}
.products-container{
  padding: 4em;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  justify-items: center;
  grid-gap: 30px;
}

header{
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.navbar-brand {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  line-height: inherit;
  padding: 1em;
  color: #ffff;
  font-weight: bold;
}
.navbar{
  width: 100%;
  background: var(--first-color);
  display: none;
  position: fixed;
  height: 100%;
  top: 53px;
  z-index: 301;
  transition: 0.7s ease-in-out;
}
.navbar-nav {
  list-style-type: none;
  padding: 1em 2em;
  text-align: center;

}
.navbar-nav li{
  margin-bottom: .8em;
  padding: .5em;
  color: #fff;
}
.navbar-nav li a{
	text-decoration: none;
	color: inherit;
	position: relative;
}

.navbar-nav li a:after{
	content: '';
	border-bottom: 2px solid #000000;
	position: absolute;
	bottom: 0; 
	left: 0;
	width: 0;
	transition: all 280ms ease-in-out;
}

.navbar-nav li a:hover:after{
  transition: width 350ms ease-in-out;
  width: 100%;
}
/*
.navbar-nav li .navigation-link:hover:after,{
backface-visibility: hidden;
border-color: #fff;
transition: width 350ms ease-in-out;
width: 70%;
} */
.navbar-toggler{
	border: 0;
	background: transparent;
	color: #fff;
	font-weight: 100;
	font-size: 1.875rem;
	position: absolute;
	top: 20%;
	right: 20px;
}
.navbar-toggler:focus{
	outline: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: none;
	background: transparent;
}
.select-item {
	position: relative;
	display: block;
	line-height: 3;
	overflow: hidden;
	border-radius: .25em;
}
.select-item::after {
	content: '\25BC';
	line-height: 2.5;
	right: 0;
	bottom: 0;
	pointer-events: none;
}
.lang-select{
	color: var(--neutral-color);
	font-weight: bold;
}
#menuanim.open span:nth-child(1) ,#menuanim.open  span:nth-child(4){
	transform: rotate(0deg);
	width: 0;
}
#menuanim.open span:nth-child(2){
	transform: rotate(45deg);
}
#menuanim.open span:nth-child(3){
	transform: rotate(-45deg);
}
.main-nav{
  background-color: var(--first-color);
  display: -ms-grid;
  display: grid;
  align-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: .5em 1em;
  position: fixed;
  width: 100%;
  z-index: 300;
}
.navbar.show {
  max-height: 100%;
  transition: max-height .16s ease-in;
  display: block;
}
.navigation-link span{
  background: #02bd57;
  border-radius: 50%;
  font-size: 10px;
  padding: .5em;
}
#cd-cart{
  position: fixed;
  background:var(--second-color);
  right:0; 
  min-height: 100vh;
  top: 0;
  padding: 1em;
  width: 40%;
  z-index: var(--z-subnormal);
}
.ls-cart-items{
  width: 100%;
  height: auto;
  margin: 1em 0;
}

.ls-cart-items img{
  width: 100px;
  height: 100px;
}
/* Medias Queries*/
@media (min-width: 1024px){

  header {
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      z-index: var(--z-tooltip);
      padding-bottom: 5em;
  }
  .main-nav {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: start;
      justify-content: flex-start;
      transition: var(--all-transition);
  }
  .navbar-toggler {
      display: none;
  }
  .navbar {
      display: -ms-grid;
      display: grid;
      right: 0;
      top: 0;
      width: auto;
      height: auto;
  }
  .navbar-nav {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding: 0 .8em .8em 0;
      -ms-flex-align: center;
      align-items: center;
      margin: 0;
  }
  .navigation-item{
      padding: 0;
  }
  .navigation-link {
      margin: auto;
      padding: 1em;
  }
  .nav-bg{
      background: var(--dark);
  }
}